@use "./tokens" as *;
@use "./breakpoints" as *;

.deluxe {
  background: use-token(comp, deluxe-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: use-token(comp, deluxe-flexbox-gap);
  padding: use-token(comp, deluxe-padding);

  &__cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: use-token(comp, deluxe-cards-gap);
    padding: use-token(comp, deluxe-card-padding);

    &__edition-card {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 100%;

      &__image-container {
        position: relative;
        img {
          width: 100%;
          max-width: use-token(comp, deluxe-image-max-width);
          height: auto;
        }
        &__info {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          top: -5px;
          right: -5px;
          width: use-token(comp, deluxe-info-width);
          height: use-token(comp, deluxe-info-height);
          background: use-token(comp, deluxe-info-background);
          color: use-token(comp, deluxe-info-text-color);
          border: 0;
          border-radius: use-token(comp, deluxe-info-border-radius);
          font-family: use-token(comp, deluxe-info-font-family);
          font-size: use-token(comp, deluxe-info-font-size);
          font-weight: use-token(comp, deluxe-info-font-weight);
          line-height: use-token(comp, deluxe-info-line-height);
          text-decoration: none;
          cursor: pointer;
          transition: use-token(comp, deluxe-info-transition);
          &:hover {
            transition: use-token(comp, deluxe-info-transition);
            box-shadow: use-token(comp, deluxe-info-box-shadow);
          }
        }
      }

      h2 {
        margin: use-token(comp, deluxe-h2-margin) 0;
      }

      h3 {
        margin: 0;
        margin-bottom: use-token(comp, deluxe-h3-margin);
      }

      &__button {
        display: inline-block;
        padding: use-token(comp, deluxe-button-vertical-padding)
          use-token(comp, deluxe-button-horizontal-padding);
        background: use-token(comp, deluxe-button-background);
        color: use-token(comp, deluxe-button-text-color);
        border: 0;
        font-family: use-token(comp, deluxe-button-font-family);
        font-size: use-token(comp, deluxe-button-font-size);
        font-weight: use-token(comp, deluxe-button-font-weight);
        line-height: use-token(comp, deluxe-button-line-height);
        text-decoration: none;
        cursor: pointer;
        transition: use-token(comp, deluxe-button-transition);

        &:hover {
          background-color: use-token(comp, deluxe-button-background-hover);
          color: use-token(comp, deluxe-button-text-color-hover);
          transition: use-token(comp, deluxe-button-transition);
          box-shadow: use-token(comp, deluxe-button-box-shadow);
        }
      }
    }
  }

  &__text {
    color: use-token(comp, deluxe-text-color);
    display: none;
  }
}

body.uv-light {
  .deluxe {
    &__cards {
      &__edition-card {
        &__image-container {
          &__info {
            background: use-token(comp, deluxe-info-background-uv);
            color: use-token(comp, deluxe-info-text-color-uv);
          }
        }
        &__button {
          background: use-token(comp, deluxe-button-background-uv);
          color: use-token(comp, deluxe-button-text-color-uv);
        }
      }
    }
  }
}

@include media-query("breakpoint-lg") {
  .deluxe {
    &__cards {
      flex-direction: column;
      gap: 0;
      padding: 0;

      &__edition-card {
        max-width: 100%;
        padding: use-token(comp, deluxe-card-padding);
      }
    }
  }
}
