@use "./tokens" as *;

.full-width-image-container {
  width: 100%;
  height: 100dvh;
}

.full-width-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background: use-token(comp, full-width-image-background);
}
