@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap");

$tokens-prefix: pbg;

@mixin compile-tokens($token-type, $token-map) {
  :root {
    @each $name, $value in $token-map {
      --#{$tokens-prefix}-#{$token-type}-#{$name}: #{$value};
    }
  }
}

@function use-token($token-type, $token-name) {
  @return var(--#{$tokens-prefix}-#{$token-type}-#{$token-name});
}

$reference-tokens: (
  asylum-background-image: url("../assets/background2.webp") no-repeat
    center/cover,

  breakpoint-sm: 576px,
  breakpoint-md: 768px,
  breakpoint-lg: 992px,
  breakpoint-xl: 1200px,
  breakpoint-xxl: 1400px,

  default-font-family: "'Inter', Arial, sans-serif",
  secondary-font-family: "'Rokkitt', monospace",
  light-font-weight: 300,
  regular-font-weight: 400,
  semi-bold-font-weight: 500,
  bold-font-weight: 700,
  smallest-font-size: 0.75rem,
  smaller-font-size: 0.8rem,
  small-font-size: 0.75rem,
  base-font-size: 1rem,
  large-font-size: 1.25rem,
  larger-font-size: 1.5rem,
  large-adaptive-font-size: clamp(1rem, 2vw, 1.5rem),
  large-adaptive-image-width: clamp(320px, 40vw, 100%),
  large-line-height: 1.5,
  largest-line-height: 2,
  large-letter-spacing: 0.8ch,
  small-spacing: 0.5rem,
  medium-spacing: 1rem,
  large-spacing: 2rem,
  huge-spacing: 4rem,

  small-column-size: 20ch,
  medium-column-size: 30ch,
  large-column-size: 40ch,

  medium-grid-template-size: 20rem,

  small-column-gap-size: 2em,
  medium-column-gap-size: 4em,
  large-column-gap-size: 6em,

  large-width: 60rem,
  huge-width: 200vw,
  huge-height: 200vh,

  small-ch-width: 1ch,
  medium-ch-width: 5ch,
  large-ch-width: 10ch,

  fast-transition-duration: 0.1s,
  normal-transition-duration: 0.3s,
  slow-transition-duration: 0.5s,

  primary-transition-timing-function: ease-in-out,
  secondary-transition-timing-function: ease-out,
  primary-transition-query: all,

  top-to-bottom-black-gradient:
    linear-gradient(
      to bottom,
      rgba(10, 10, 10, 0.8),
      rgba(10, 10, 10, 0.5),
      rgba(10, 10, 10, 0)
    ),
  primary-background-gradient: linear-gradient(to bottom left, #40523e, #333333),
  secondary-background-gradient:
    radial-gradient(circle, rgba(92, 92, 92, 1) 0%, rgba(48, 48, 48, 1) 100%),
  green-color-0: #e6f4ea,
  green-color-100: #c1e4cb,
  green-color-200: #8fd4a3,
  green-color-300: #57c77a,
  green-color-400: #2bbd55,
  green-color-500: #00b233,
  green-color-600: #009e2c,
  green-color-700: #007f22,
  green-color-800: #005f17,
  green-color-900: #003f0c,

  purple-color-0: #f3e6fa,
  purple-color-100: #e0c1f3,
  purple-color-200: #c88fe6,
  purple-color-300: #ae57d9,
  purple-color-400: #9b2bbd,
  purple-color-500: #8800b2,
  purple-color-600: #6e009e,
  purple-color-700: #4f007f,
  purple-color-800: #2f005f,
  purple-color-900: #0f003f,

  neutral-color-0: #f9f9f9,
  neutral-color-100: #e1e1e1,
  neutral-color-200: #c2c2c2,
  neutral-color-300: #a3a3a3,
  neutral-color-400: #858585,
  neutral-color-500: #666666,
  neutral-color-600: #4d4d4d,
  neutral-color-700: #333333,
  neutral-color-800: #1a1a1a,
  neutral-color-900: #0a0a0a,

  light-text-shadow: 0px 0px 10px #f9f9f9,
  light-box-shadow: 0px 4px 6px rgba(249, 249, 249, 0.1),
  medium-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1),
  heavy-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3),
);

@include compile-tokens(ref, $reference-tokens);

$component-tokens: (
  hero-background: use-token(ref, asylum-background-image),
  logo-width: use-token(ref, large-adaptive-image-width),
  hero-heading-font-size: use-token(ref, large-adaptive-font-size),
  hero-heading-letter-spacing: use-token(ref, large-letter-spacing),
  hero-heading-font-weight: use-token(ref, regular-font-weight),
  hero-heading-font-family: use-token(ref, secondary-font-family),
  hero-heading-text-shadow: use-token(ref, light-text-shadow),
  circle-character-size: use-token(ref, small-font-size),
  grain-width: use-token(ref, huge-width),
  grain-height: use-token(ref, huge-height),
  nav-background: use-token(ref, top-to-bottom-black-gradient),
  nav-text-color: use-token(ref, neutral-color-0),
  nav-hover-text-shadow: use-token(ref, light-text-shadow),
  nav-font-family: use-token(ref, secondary-font-family),
  nav-font-size: use-token(ref, large-font-size),
  nav-hover-text-transition: use-token(ref, primary-transition-query) + " " +
    use-token(ref, fast-transition-duration) + " " +
    use-token(ref, primary-transition-timing-function),
  about-max-width: use-token(ref, large-width),
  about-background: use-token(ref, primary-background-gradient),
  about-h1-margin-top: use-token(ref, large-spacing),
  about-container-horizontal-padding: use-token(ref, large-spacing),
  about-container-vertical-padding: use-token(ref, huge-spacing),
  subtitle-text-color: use-token(ref, neutral-color-200),
  intro-font-size: use-token(ref, large-font-size),
  intro-line-height: use-token(ref, largest-line-height),
  how-to-play-background: use-token(ref, primary-background-gradient),
  how-to-play-article-horizontal-padding: use-token(ref, large-spacing),
  how-to-play-article-vertical-padding: use-token(ref, large-spacing),
  how-to-play-article-column-size: use-token(ref, medium-column-size),
  how-to-play-article-column-gap-size: use-token(ref, small-column-gap-size),
  how-to-play-article-max-width: use-token(ref, large-width),
  how-to-play-article-image-width: use-token(ref, large-ch-width),
  how-to-play-article-image-margin: use-token(ref, small-ch-width),
  full-width-image-background: use-token(ref, secondary-background-gradient),
  components-wrapper-background: use-token(ref, primary-background-gradient),
  components-max-width: use-token(ref, large-width),
  components-header-padding: use-token(ref, large-spacing),
  components-subtitle-padding: use-token(ref, large-spacing),
  components-subtitle-font-size: use-token(ref, large-font-size),
  components-grid-template-size: use-token(ref, medium-grid-template-size),
  components-grid-gap: use-token(ref, large-spacing),
  components-grid-padding: use-token(ref, large-spacing),
  item-card-component-image-transition: use-token(ref, primary-transition-query) +
    " " + use-token(ref, normal-transition-duration) + " " +
    use-token(ref, secondary-transition-timing-function),
  item-card-component-padding: use-token(ref, large-spacing),
  item-card-component-background: use-token(ref, secondary-background-gradient),
  item-card-component-heading-margin: use-token(ref, medium-spacing),
  item-card-component-text-color: use-token(ref, neutral-color-200),
  item-card-component-box-shadow: use-token(ref, heavy-box-shadow),
);

@include compile-tokens(comp, $component-tokens);
