@use "./tokens" as *;
@use "./breakpoints" as *;

body,
html {
  margin: 0;
  padding: 0;
  font-family: use-token(ref, default-font-family);
  color: use-token(ref, neutral-color-0);
  scroll-behavior: smooth;
}

nav {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  .nav-list {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    background: use-token(comp, nav-background);
    &__item {
      a {
        text-decoration: none;
        color: use-token(comp, nav-text-color);
        font-family: use-token(comp, nav-font-family);
        font-size: use-token(comp, nav-font-size);
        transition: use-token(comp, nav-hover-text-transition);

        &:hover {
          text-shadow: use-token(comp, nav-hover-text-shadow);
          transition: use-token(comp, nav-hover-text-transition);
        }
      }

      &.uv-light-switch {
        cursor: pointer;

        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}

.hero {
  background: use-token(comp, hero-background);
  position: relative;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 0;

  &__logo {
    display: block;
    width: use-token(comp, logo-width);
  }

  &::after {
    content: "";
    position: absolute;
    width: use-token(comp, grain-width);
    height: use-token(comp, grain-height);
    left: -50%;
    top: -50%;
    background: url(../assets/noise.png);
    opacity: 0.6;
    animation: grain 1.5s steps(6) infinite;
  }

  h1 {
    font-family: use-token(comp, hero-heading-font-family);
    font-weight: use-token(comp, hero-heading-font-weight);
    font-size: use-token(comp, hero-heading-font-size);
    margin: 0;
    letter-spacing: use-token(comp, hero-heading-letter-spacing);
    text-shadow: use-token(comp, hero-heading-text-shadow);

    .circle-character {
      vertical-align: middle;
      font-size: use-token(comp, circle-character-size);
    }
  }
}

.about {
  background: use-token(comp, about-background);
  padding: use-token(ref, huge-spacing) 0;

  p,
  h1 {
    padding: 0 20%;
    @include media-query("breakpoint-md") {
      padding: 0 5%;
    }
  }

  .intro {
    color: use-token(ref, neutral-color-200);
    margin: 0 auto;
    font-size: use-token(ref, large-font-size);
    line-height: use-token(ref, largest-line-height);
  }

  h1 {
    margin-top: use-token(comp, about-h1-margin-top);
  }
}

.tarot-card-image {
  width: 100%;
  display: block;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  30% {
    transform: translate(3%, -15%);
  }
  50% {
    transform: translate(12%, 9%);
  }
  70% {
    transform: translate(9%, 4%);
  }
  90% {
    transform: translate(-1%, 7%);
  }
}
