@use "./tokens" as *;
@use "./breakpoints" as *;
@use "./nav" as *;
@use "./hero" as *;
@use "./about" as *;
@use "./grain" as *;
@use "./components" as *;
@use "./how-to-play" as *;
@use "./misc" as *;
@use "./deluxe" as *;
@use "./footer" as *;

body,
html {
  margin: 0;
  padding: 0;
  font-family: use-token(ref, default-font-family);
  color: use-token(ref, neutral-color-0);
  scroll-behavior: smooth;
}
