@use "./tokens" as *;
@use "./breakpoints" as *;

body,
html {
  margin: 0;
  padding: 0;
  font-family: use-token(ref, default-font-family);
  color: use-token(ref, neutral-color-0);
  scroll-behavior: smooth;
}

nav {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  .nav-list {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    background: use-token(comp, nav-background);
    &__item {
      a {
        text-decoration: none;
        color: use-token(comp, nav-text-color);
        font-family: use-token(comp, nav-font-family);
        font-size: use-token(comp, nav-font-size);
        transition: use-token(comp, nav-hover-text-transition);

        &:hover {
          text-shadow: use-token(comp, nav-hover-text-shadow);
          transition: use-token(comp, nav-hover-text-transition);
        }
      }

      &.uv-light-switch {
        cursor: pointer;

        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}

.hero {
  background: use-token(comp, hero-background);
  position: relative;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 0;

  &__logo {
    display: block;
    width: use-token(comp, logo-width);
  }

  &::after {
    content: "";
    position: absolute;
    width: use-token(comp, grain-width);
    height: use-token(comp, grain-height);
    left: -50%;
    top: -50%;
    background: url(../assets/noise.png);
    opacity: 0.6;
    animation: grain 1.5s steps(6) infinite;
  }

  h1 {
    font-family: use-token(comp, hero-heading-font-family);
    font-weight: use-token(comp, hero-heading-font-weight);
    font-size: use-token(comp, hero-heading-font-size);
    margin: 0;
    letter-spacing: use-token(comp, hero-heading-letter-spacing);
    text-shadow: use-token(comp, hero-heading-text-shadow);

    .circle-character {
      vertical-align: middle;
      font-size: use-token(comp, circle-character-size);
    }
  }
}

.about {
  background: use-token(comp, about-background);
  padding: use-token(comp, about-container-vertical-padding)
    use-token(comp, about-container-horizontal-padding);
  display: flex;
  flex-direction: column;
  align-items: center;

  * {
    max-width: use-token(comp, about-max-width);
  }

  .intro {
    color: use-token(comp, subtitle-text-color);
    font-size: use-token(comp, intro-font-size);
    line-height: use-token(comp, intro-line-height);
  }

  h1 {
    margin-top: use-token(comp, about-h1-margin-top);
  }
}

.how-to-play {
  background: use-token(comp, how-to-play-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  article {
    padding: use-token(comp, how-to-play-article-vertical-padding)
      use-token(comp, how-to-play-article-horizontal-padding);
    columns: use-token(comp, how-to-play-article-column-size);
    column-gap: use-token(comp, how-to-play-article-column-gap-size);
    max-width: use-token(comp, how-to-play-article-max-width);
    orphans: 3;
    widows: 3;
    &__subtitle {
      color: use-token(comp, subtitle-text-color);
    }
    h1,
    h2,
    h3 {
      text-wrap: balance;
      break-after: avoid;
    }
    img {
      max-width: use-token(comp, how-to-play-article-image-width);
      float: left;
      margin: 0 use-token(comp, how-to-play-article-image-margin)
        use-token(comp, how-to-play-article-image-margin) 0;
    }

    p {
      text-align: justify;
      text-wrap: pretty;
      margin-block: 0;
    }
  }
}

.full-width-image-container {
  width: 100%;
  height: 100dvh;
}

.full-width-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background: use-token(comp, full-width-image-background);
}
.components-wrapper {
  background: use-token(comp, components-wrapper-background);
  display: flex;
  flex-direction: column;
  align-items: center;

  .components {
    max-width: use-token(comp, components-max-width);
    h1 {
      margin: 0;
      padding-left: use-token(comp, components-header-padding);
      padding-top: use-token(comp, components-header-padding);
    }

    &__subtitle {
      display: block;
      padding-left: use-token(comp, components-subtitle-padding);
      color: use-token(comp, subtitle-text-color);
      font-size: use-token(comp, components-subtitle-font-size);
    }

    &__grid-container {
      display: grid;
      grid-template-columns: repeat(
        auto-fit,
        minmax(use-token(comp, components-grid-template-size), 1fr)
      );
      gap: use-token(comp, components-grid-gap);
      padding: use-token(comp, components-grid-padding);
    }

    &__grid-item {
      padding: use-token(comp, item-card-component-padding);
      background: use-token(comp, item-card-component-background);
      box-shadow: use-token(comp, item-card-component-box-shadow);

      h2 {
        margin-top: use-token(comp, item-card-component-heading-margin);
      }

      p {
        color: use-token(comp, item-card-component-text-color);
        text-align: justify;
        margin: 0;
      }

      img {
        max-width: 100%;
        transition: use-token(comp, item-card-component-image-transition);

        &:hover {
          transform: scale(1.1);
          transition: use-token(comp, item-card-component-image-transition);
        }
      }
    }
  }
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  30% {
    transform: translate(3%, -15%);
  }
  50% {
    transform: translate(12%, 9%);
  }
  70% {
    transform: translate(9%, 4%);
  }
  90% {
    transform: translate(-1%, 7%);
  }
}
