@use "./tokens" as *;
@use "./breakpoints" as *;

body,
html {
  margin: 0;
  padding: 0;
  font-family: use-token(ref, default-font-family);
  color: use-token(ref, neutral-color-0);
  scroll-behavior: smooth;
}

nav {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  .nav-list {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    background: use-token(comp, nav-background);
    &__item {
      a {
        text-decoration: none;
        color: use-token(comp, nav-text-color);
        font-family: use-token(comp, nav-font-family);
        font-size: use-token(comp, nav-font-size);
        transition: use-token(comp, nav-hover-text-transition);

        &:hover {
          text-shadow: use-token(comp, nav-hover-text-shadow);
          transition: use-token(comp, nav-hover-text-transition);
        }
      }

      &.uv-light-switch {
        cursor: pointer;

        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}

.hero {
  background: use-token(comp, hero-background);
  position: relative;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 0;

  &__logo {
    display: block;
    width: use-token(comp, logo-width);
  }

  &::after {
    content: "";
    position: absolute;
    width: use-token(comp, grain-width);
    height: use-token(comp, grain-height);
    left: -50%;
    top: -50%;
    background: url(../assets/noise.png);
    opacity: 0.6;
    animation: grain 1.5s steps(6) infinite;
  }

  h1 {
    font-family: use-token(comp, hero-heading-font-family);
    font-weight: use-token(comp, hero-heading-font-weight);
    font-size: use-token(comp, hero-heading-font-size);
    margin: 0;
    letter-spacing: use-token(comp, hero-heading-letter-spacing);
    text-shadow: use-token(comp, hero-heading-text-shadow);

    .circle-character {
      vertical-align: middle;
      font-size: use-token(comp, circle-character-size);
    }
  }
}

.about {
  background: use-token(comp, about-background);
  padding: use-token(ref, huge-spacing) use-token(ref, large-spacing);
  display: flex;
  flex-direction: column;
  align-items: center;

  * {
    max-width: 60rem;
  }

  .intro {
    color: use-token(ref, neutral-color-200);
    font-size: use-token(ref, large-font-size);
    line-height: use-token(ref, largest-line-height);
  }

  h1 {
    margin-top: use-token(comp, about-h1-margin-top);
  }
}

.how-to-play {
  background: use-token(ref, primary-background-gradient);
  display: flex;
  flex-direction: column;
  align-items: center;
  article {
    padding: use-token(ref, large-spacing) use-token(ref, large-spacing);
    columns: 30ch;
    column-gap: 2em;
    max-width: 60rem;
    orphans: 3;
    widows: 3;
    &__subtitle {
      color: use-token(ref, neutral-color-200);
    }
    h1,
    h2,
    h3 {
      text-wrap: balance;
      break-after: avoid;
    }
    img {
      max-width: min(10ch, 33%);
      float: left;
      margin: 0 1ch 1ch 0;
    }

    p {
      text-align: justify;
      text-wrap: pretty;
      margin-block: 0;
    }
  }
}

.full-width-image-container {
  width: 100%;
  height: 100dvh;
}

.full-width-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background: use-token(ref, secondary-background-gradient);
}
.components-wrapper {
  background: use-token(ref, primary-background-gradient);
  display: flex;
  flex-direction: column;
  align-items: center;

  .components {
    max-width: 60rem;
    h1 {
      margin: 0;
      padding-left: use-token(ref, large-spacing);
      padding-top: use-token(ref, large-spacing);
    }

    &__subtitle {
      display: block;
      padding-left: use-token(ref, large-spacing);
      color: use-token(ref, neutral-color-200);
      font-size: use-token(ref, large-font-size);
    }

    &__grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: use-token(ref, large-spacing);
      padding: use-token(ref, large-spacing);
    }

    &__grid-item {
      padding: use-token(ref, large-spacing);
      border-radius: use-token(ref, small-border-radius);
      background: use-token(ref, secondary-background-gradient);
      box-shadow: use-token(ref, heavy-box-shadow);

      h2 {
        margin-top: use-token(ref, medium-spacing);
      }

      p {
        color: use-token(ref, neutral-color-200);
        text-align: justify;
        margin: 0;
      }

      img {
        max-width: 100%;
        border-radius: use-token(ref, small-border-radius);
      }
    }
  }
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  30% {
    transform: translate(3%, -15%);
  }
  50% {
    transform: translate(12%, 9%);
  }
  70% {
    transform: translate(9%, 4%);
  }
  90% {
    transform: translate(-1%, 7%);
  }
}
