@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --pbg-ref-asylum-background-image: url("../assets/background2.webp") no-repeat center/cover;
  --pbg-ref-asylum-background-image-uv: url("../assets/background2_uv.webp") no-repeat center/cover;
  --pbg-ref-breakpoint-sm: 576px;
  --pbg-ref-breakpoint-md: 768px;
  --pbg-ref-breakpoint-lg: 992px;
  --pbg-ref-breakpoint-xl: 1200px;
  --pbg-ref-breakpoint-xxl: 1400px;
  --pbg-ref-default-font-family: 'Inter', Arial, sans-serif;
  --pbg-ref-secondary-font-family: 'Rokkitt', monospace;
  --pbg-ref-light-font-weight: 300;
  --pbg-ref-regular-font-weight: 400;
  --pbg-ref-semi-bold-font-weight: 500;
  --pbg-ref-bold-font-weight: 700;
  --pbg-ref-smallest-font-size: 0.75rem;
  --pbg-ref-smaller-font-size: 0.8rem;
  --pbg-ref-small-font-size: 0.75rem;
  --pbg-ref-base-font-size: 1rem;
  --pbg-ref-large-font-size: 1.25rem;
  --pbg-ref-larger-font-size: 1.5rem;
  --pbg-ref-huge-font-size: 2.5rem;
  --pbg-ref-large-adaptive-font-size: clamp(1rem, 2vw, 1.5rem);
  --pbg-ref-large-adaptive-image-width: clamp(320px, 40vw, 100%);
  --pbg-ref-large-line-height: 1.5;
  --pbg-ref-largest-line-height: 2;
  --pbg-ref-large-letter-spacing: 0.8ch;
  --pbg-ref-small-spacing: 0.5rem;
  --pbg-ref-medium-spacing: 1rem;
  --pbg-ref-larger-spacing: 1.5rem;
  --pbg-ref-large-spacing: 2rem;
  --pbg-ref-huge-spacing: 4rem;
  --pbg-ref-small-column-size: 20ch;
  --pbg-ref-medium-column-size: 30ch;
  --pbg-ref-large-column-size: 40ch;
  --pbg-ref-medium-grid-template-size: 20rem;
  --pbg-ref-small-column-gap-size: 2em;
  --pbg-ref-medium-column-gap-size: 4em;
  --pbg-ref-large-column-gap-size: 6em;
  --pbg-ref-small-width: 2rem;
  --pbg-ref-smaller-width: 3rem;
  --pbg-ref-medium-width: 20rem;
  --pbg-ref-larger-width: 30rem;
  --pbg-ref-large-width: 60rem;
  --pbg-ref-huge-width: 200vw;
  --pbg-ref-huge-height: 200vh;
  --pbg-ref-small-ch-width: 1ch;
  --pbg-ref-medium-ch-width: 5ch;
  --pbg-ref-large-ch-width: 10ch;
  --pbg-ref-max-border-radius: 100%;
  --pbg-ref-fast-transition-duration: 0.1s;
  --pbg-ref-normal-transition-duration: 0.3s;
  --pbg-ref-slow-transition-duration: 0.5s;
  --pbg-ref-primary-transition-timing-function: ease-in-out;
  --pbg-ref-secondary-transition-timing-function: ease-out;
  --pbg-ref-primary-transition-query: all;
  --pbg-ref-top-to-bottom-black-gradient: linear-gradient(to bottom, rgba(10, 10, 10, 0.8), rgba(10, 10, 10, 0.5), rgba(10, 10, 10, 0));
  --pbg-ref-primary-background-gradient: linear-gradient(to bottom left, #40523e, #333333);
  --pbg-ref-primary-background-gradient-uv: linear-gradient(to bottom left, #6b3d88, #0f003f);
  --pbg-ref-secondary-background-gradient: radial-gradient(circle, rgb(92, 92, 92) 0%, rgb(48, 48, 48) 100%);
  --pbg-ref-secondary-background-gradient-uv: radial-gradient(circle, rgb(68, 68, 68) 0%, rgb(32, 32, 32) 100%);
  --pbg-ref-green-color-0: #e6f4ea;
  --pbg-ref-green-color-100: #c1e4cb;
  --pbg-ref-green-color-200: #8fd4a3;
  --pbg-ref-green-color-300: #57c77a;
  --pbg-ref-green-color-400: #2bbd55;
  --pbg-ref-green-color-500: #00b233;
  --pbg-ref-green-color-600: #009e2c;
  --pbg-ref-green-color-700: #007f22;
  --pbg-ref-green-color-800: #005f17;
  --pbg-ref-green-color-900: #003f0c;
  --pbg-ref-purple-color-0: #f3e6fa;
  --pbg-ref-purple-color-100: #e0c1f3;
  --pbg-ref-purple-color-200: #c88fe6;
  --pbg-ref-purple-color-300: #ae57d9;
  --pbg-ref-purple-color-400: #9b2bbd;
  --pbg-ref-purple-color-500: #8800b2;
  --pbg-ref-purple-color-600: #6e009e;
  --pbg-ref-purple-color-700: #4f007f;
  --pbg-ref-purple-color-800: #2f005f;
  --pbg-ref-purple-color-900: #0f003f;
  --pbg-ref-neutral-color-0: #f9f9f9;
  --pbg-ref-neutral-color-100: #e1e1e1;
  --pbg-ref-neutral-color-200: #c2c2c2;
  --pbg-ref-neutral-color-300: #a3a3a3;
  --pbg-ref-neutral-color-400: #858585;
  --pbg-ref-neutral-color-500: #666666;
  --pbg-ref-neutral-color-600: #4d4d4d;
  --pbg-ref-neutral-color-700: #333333;
  --pbg-ref-neutral-color-800: #1a1a1a;
  --pbg-ref-neutral-color-900: #0a0a0a;
  --pbg-ref-transparent-black-color: rgba(10, 10, 10, 0.8078431373);
  --pbg-ref-tranparent-grey-color: rgba(51, 51, 51, 0.6235294118);
  --pbg-ref-medium-blur-kernel: 5px;
  --pbg-ref-light-text-shadow: 0px 0px 10px #f9f9f9;
  --pbg-ref-light-box-shadow: 0px 4px 6px rgba(249, 249, 249, 0.1);
  --pbg-ref-medium-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  --pbg-ref-heavy-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

:root {
  --pbg-comp-hero-background: var(--pbg-ref-asylum-background-image);
  --pbg-comp-hero-background-uv: var(--pbg-ref-asylum-background-image-uv);
  --pbg-comp-logo-width: var(--pbg-ref-large-adaptive-image-width);
  --pbg-comp-hero-heading-font-size: var(--pbg-ref-large-adaptive-font-size);
  --pbg-comp-hero-heading-letter-spacing: var(--pbg-ref-large-letter-spacing);
  --pbg-comp-hero-heading-font-weight: var(--pbg-ref-regular-font-weight);
  --pbg-comp-hero-heading-font-family: var(--pbg-ref-secondary-font-family);
  --pbg-comp-hero-heading-text-shadow: var(--pbg-ref-light-text-shadow);
  --pbg-comp-nav-background: var(--pbg-ref-top-to-bottom-black-gradient);
  --pbg-comp-nav-padding: var(--pbg-ref-medium-spacing);
  --pbg-comp-nav-text-color: var(--pbg-ref-neutral-color-0);
  --pbg-comp-nav-hover-text-shadow: var(--pbg-ref-light-text-shadow);
  --pbg-comp-nav-font-family: var(--pbg-ref-secondary-font-family);
  --pbg-comp-nav-font-size: var(--pbg-ref-large-font-size);
  --pbg-comp-nav-hover-text-transition: var(--pbg-ref-primary-transition-query) var(--pbg-ref-fast-transition-duration) var(--pbg-ref-primary-transition-timing-function);
  --pbg-comp-sidebar-padding: var(--pbg-ref-medium-spacing);
  --pbg-comp-sidebar-icon-margin: var(--pbg-ref-medium-spacing);
  --pbg-comp-sidebar-text-color: var(--pbg-ref-neutral-color-0);
  --pbg-comp-sidebar-font-size: var(--pbg-ref-larger-font-size);
  --pbg-comp-sidebar-font-family: var(--pbg-ref-secondary-font-family);
  --pbg-comp-sidebar-hover-text-shadow: var(--pbg-ref-light-text-shadow);
  --pbg-comp-sidebar-hover-text-transition: var(--pbg-ref-primary-transition-query) var(--pbg-ref-fast-transition-duration) var(--pbg-ref-primary-transition-timing-function);
  --pbg-comp-sidebar-background: var(--pbg-ref-top-to-bottom-black-gradient);
  --pbg-comp-sidebar-width: var(--pbg-ref-medium-width);
  --pbg-comp-sidebar-list-item-gap: var(--pbg-ref-medium-spacing);
  --pbg-comp-sidebar-aside-background: var(--pbg-ref-transparent-black-color);
  --pbg-comp-sidebar-box-shadow: var(--pbg-ref-heavy-box-shadow);
  --pbg-comp-sidebar-list-item-hover-transition: var(--pbg-ref-primary-transition-query) var(--pbg-ref-fast-transition-duration) var(--pbg-ref-primary-transition-timing-function);
  --pbg-comp-sidebar-list-item-underline-color: var(--pbg-ref-neutral-color-0);
  --pbg-comp-sidebar-blur-kernel: var(--pbg-ref-medium-blur-kernel);
  --pbg-comp-sidebar-controls-uv-button-size: var(--pbg-ref-huge-font-size);
  --pbg-comp-sidebar-controls-close-button-size: var(--pbg-ref-large-font-size);
  --pbg-comp-sidebar-controls-button-background: var(--pbg-ref-tranparent-grey-color);
  --pbg-comp-sidebar-controls-button-padding: var(--pbg-ref-small-spacing);
  --pbg-comp-sidebar-controls-padding: var(--pbg-ref-medium-spacing);
  --pbg-comp-about-max-width: var(--pbg-ref-large-width);
  --pbg-comp-about-background: var(--pbg-ref-primary-background-gradient);
  --pbg-comp-about-background-uv: var(--pbg-ref-primary-background-gradient-uv);
  --pbg-comp-about-h1-margin-top: var(--pbg-ref-large-spacing);
  --pbg-comp-about-container-horizontal-padding: var(--pbg-ref-large-spacing);
  --pbg-comp-about-container-vertical-padding: var(--pbg-ref-huge-spacing);
  --pbg-comp-subtitle-text-color: var(--pbg-ref-neutral-color-200);
  --pbg-comp-circle-character-size: var(--pbg-ref-small-font-size);
  --pbg-comp-grain-width: var(--pbg-ref-huge-width);
  --pbg-comp-grain-height: var(--pbg-ref-huge-height);
  --pbg-comp-full-width-image-background: var(--pbg-ref-secondary-background-gradient);
  --pbg-comp-full-width-image-background-uv: var(--pbg-ref-secondary-background-gradient-uv);
  --pbg-comp-intro-font-size: var(--pbg-ref-large-font-size);
  --pbg-comp-intro-line-height: var(--pbg-ref-largest-line-height);
  --pbg-comp-how-to-play-background: var(--pbg-ref-primary-background-gradient);
  --pbg-comp-how-to-play-background-uv: var(--pbg-ref-primary-background-gradient-uv);
  --pbg-comp-how-to-play-article-horizontal-padding: var(--pbg-ref-large-spacing);
  --pbg-comp-how-to-play-article-vertical-padding: var(--pbg-ref-large-spacing);
  --pbg-comp-how-to-play-article-column-size: var(--pbg-ref-medium-column-size);
  --pbg-comp-how-to-play-article-column-gap-size: var(--pbg-ref-small-column-gap-size);
  --pbg-comp-how-to-play-article-max-width: var(--pbg-ref-large-width);
  --pbg-comp-how-to-play-article-image-width: var(--pbg-ref-large-ch-width);
  --pbg-comp-how-to-play-article-image-margin: var(--pbg-ref-small-ch-width);
  --pbg-comp-components-wrapper-background: var(--pbg-ref-primary-background-gradient);
  --pbg-comp-components-wrapper-background-uv: var(--pbg-ref-primary-background-gradient-uv);
  --pbg-comp-components-max-width: var(--pbg-ref-large-width);
  --pbg-comp-components-header-padding: var(--pbg-ref-large-spacing);
  --pbg-comp-components-subtitle-padding: var(--pbg-ref-large-spacing);
  --pbg-comp-components-subtitle-font-size: var(--pbg-ref-large-font-size);
  --pbg-comp-components-grid-template-size: var(--pbg-ref-medium-grid-template-size);
  --pbg-comp-components-grid-gap: var(--pbg-ref-large-spacing);
  --pbg-comp-components-grid-padding: var(--pbg-ref-large-spacing);
  --pbg-comp-item-card-component-image-transition: var(--pbg-ref-primary-transition-query) var(--pbg-ref-normal-transition-duration) var(--pbg-ref-secondary-transition-timing-function);
  --pbg-comp-item-card-component-padding: var(--pbg-ref-large-spacing);
  --pbg-comp-item-card-component-background: var(--pbg-ref-secondary-background-gradient);
  --pbg-comp-item-card-component-background-uv: var(--pbg-ref-secondary-background-gradient-uv);
  --pbg-comp-item-card-component-heading-margin: var(--pbg-ref-medium-spacing);
  --pbg-comp-item-card-component-text-color: var(--pbg-ref-neutral-color-200);
  --pbg-comp-item-card-component-box-shadow: var(--pbg-ref-heavy-box-shadow);
  --pbg-comp-audio-button-position: var(--pbg-ref-medium-spacing);
  --pbg-comp-audio-button-width: var(--pbg-ref-small-width);
  --pbg-comp-audio-button-height: var(--pbg-ref-small-width);
  --pbg-comp-audio-button-background: var(--pbg-ref-neutral-color-800);
  --pbg-comp-audio-button-transition: var(--pbg-ref-primary-transition-query) var(--pbg-ref-fast-transition-duration) var(--pbg-ref-primary-transition-timing-function);
  --pbg-comp-audio-button-hover-background: var(--pbg-ref-neutral-color-700);
  --pbg-comp-audio-button-active-background: var(--pbg-ref-neutral-color-600);
  --pbg-comp-audio-button-icon-size: var(--pbg-ref-larger-font-size);
  --pbg-comp-audio-button-padding: var(--pbg-ref-larger-spacing);
  --pbg-comp-audio-button-box-shadow: var(--pbg-ref-heavy-box-shadow);
  --pbg-comp-audio-button-icon-color: var(--pbg-ref-neutral-color-0);
  --pbg-comp-audio-button-border-radius: var(--pbg-ref-max-border-radius);
  --pbg-comp-deluxe-background: var(--pbg-ref-secondary-background-gradient);
  --pbg-comp-deluxe-flexbox-gap: var(--pbg-ref-large-spacing);
  --pbg-comp-deluxe-padding: var(--pbg-ref-large-spacing);
  --pbg-comp-deluxe-cards-gap: var(--pbg-ref-large-spacing);
  --pbg-comp-deluxe-card-padding: var(--pbg-ref-large-spacing);
  --pbg-comp-deluxe-info-background: var(--pbg-ref-green-color-200);
  --pbg-comp-deluxe-info-text-color: var(--pbg-ref-neutral-color-600);
  --pbg-comp-deluxe-info-border-radius: var(--pbg-ref-max-border-radius);
  --pbg-comp-deluxe-info-font-family: var(--pbg-ref-secondary-font-family);
  --pbg-comp-deluxe-info-font-size: var(--pbg-ref-large-font-size);
  --pbg-comp-deluxe-info-font-weight: var(--pbg-ref-bold-font-weight);
  --pbg-comp-deluxe-info-line-height: var(--pbg-ref-largest-line-height);
  --pbg-comp-deluxe-info-width: var(--pbg-ref-small-width);
  --pbg-comp-deluxe-info-height: var(--pbg-ref-small-width);
  --pbg-comp-deluxe-info-transition: var(--pbg-ref-primary-transition-query) var(--pbg-ref-fast-transition-duration) var(--pbg-ref-primary-transition-timing-function);
  --pbg-comp-deluxe-info-background-uv: var(--pbg-ref-purple-color-300);
  --pbg-comp-deluxe-info-text-color-uv: var(--pbg-ref-neutral-color-100);
  --pbg-comp-deluxe-info-box-shadow: var(--pbg-ref-heavy-box-shadow);
  --pbg-comp-deluxe-image-max-width: var(--pbg-ref-larger-width);
  --pbg-comp-deluxe-h2-margin: var(--pbg-ref-small-spacing);
  --pbg-comp-deluxe-h3-margin: var(--pbg-ref-medium-spacing);
  --pbg-comp-deluxe-button-background: var(--pbg-ref-green-color-200);
  --pbg-comp-deluxe-button-background-hover: var(--pbg-ref-green-color-100);
  --pbg-comp-deluxe-button-text-color: var(--pbg-ref-neutral-color-600);
  --pbg-comp-deluxe-button-text-color-hover: var(--pbg-ref-neutral-color-700);
  --pbg-comp-deluxe-button-font-family: var(--pbg-ref-secondary-font-family);
  --pbg-comp-deluxe-button-font-size: var(--pbg-ref-large-font-size);
  --pbg-comp-deluxe-button-font-weight: var(--pbg-ref-bold-font-weight);
  --pbg-comp-deluxe-button-line-height: var(--pbg-ref-largest-line-height);
  --pbg-comp-deluxe-button-horizontal-padding: var(--pbg-ref-large-spacing);
  --pbg-comp-deluxe-button-vertical-padding: var(--pbg-ref-small-spacing);
  --pbg-comp-deluxe-button-transition: var(--pbg-ref-primary-transition-query) var(--pbg-ref-fast-transition-duration) var(--pbg-ref-primary-transition-timing-function);
  --pbg-comp-deluxe-button-box-shadow: var(--pbg-ref-heavy-box-shadow);
  --pbg-comp-deluxe-button-background-uv: var(--pbg-ref-purple-color-300);
  --pbg-comp-deluxe-button-text-color-uv: var(--pbg-ref-neutral-color-0);
  --pbg-comp-deluxe-text-color: var(--pbg-ref-neutral-color-200);
  --pbg-comp-footer-background: var(--pbg-ref-neutral-color-900);
  --pbg-comp-footer-padding: var(--pbg-ref-large-spacing);
  --pbg-comp-footer-logo-width: var(--pbg-ref-medium-width);
  --pbg-comp-footer-text-color: var(--pbg-ref-neutral-color-0);
  --pbg-comp-footer-text-line-height: var(--pbg-ref-largest-line-height);
  --pbg-comp-footer-link-color: var(--pbg-ref-neutral-color-0);
  --pbg-comp-footer-link-font-family: var(--pbg-ref-secondary-font-family);
  --pbg-comp-footer-link-font-size: var(--pbg-ref-large-font-size);
  --pbg-comp-footer-link-transition: var(--pbg-ref-primary-transition-query) var(--pbg-ref-fast-transition-duration) var(--pbg-ref-primary-transition-timing-function);
  --pbg-comp-footer-link-hover-color: var(--pbg-ref-neutral-color-100);
}

nav {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}
nav .nav-list {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: space-around;
  padding: var(--pbg-comp-nav-padding) 0;
  background: var(--pbg-comp-nav-background);
}
nav .nav-list__item a {
  text-decoration: none;
  color: var(--pbg-comp-nav-text-color);
  font-family: var(--pbg-comp-nav-font-family);
  font-size: var(--pbg-comp-nav-font-size);
  transition: var(--pbg-comp-nav-hover-text-transition);
}
nav .nav-list__item a:hover {
  text-shadow: var(--pbg-comp-nav-hover-text-shadow);
  transition: var(--pbg-comp-nav-hover-text-transition);
}
nav .nav-list__item.uv-light-button {
  cursor: pointer;
}
nav .nav-list__item.uv-light-button img {
  width: 32px;
  height: 32px;
}

aside {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  align-items: center;
  padding: var(--pbg-comp-sidebar-padding) 0;
  background: var(--pbg-comp-sidebar-background);
  justify-content: end;
}
aside .sidebar-menu-icon {
  margin-right: var(--pbg-comp-sidebar-icon-margin);
  font-size: var(--pbg-comp-sidebar-font-size);
  cursor: pointer;
  transition: var(--pbg-comp-sidebar-hover-text-transition);
}
aside .sidebar-menu-icon:hover {
  text-shadow: var(--pbg-comp-sidebar-hover-text-shadow);
  transition: var(--pbg-comp-sidebar-hover-text-transition);
}
aside .sidebar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 0;
  height: 100dvh;
  background-color: var(--pbg-comp-sidebar-aside-background);
  -webkit-backdrop-filter: blur(var(--pbg-comp-sidebar-blur-kernel));
          backdrop-filter: blur(var(--pbg-comp-sidebar-blur-kernel));
  transition: var(--pbg-comp-sidebar-hover-text-transition);
  opacity: 0;
}
aside .sidebar.open {
  opacity: 1;
  width: min(100%, var(--pbg-comp-sidebar-width));
  transition: var(--pbg-comp-sidebar-hover-text-transition);
}
aside .sidebar__controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--pbg-comp-sidebar-controls-padding);
}
aside .sidebar__controls__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--pbg-comp-sidebar-controls-button-padding);
  cursor: pointer;
}
aside .sidebar__controls .close-button {
  font-size: var(--pbg-comp-sidebar-controls-close-button-size);
  transition: var(--pbg-comp-sidebar-hover-text-transition);
}
aside .sidebar__controls .close-button:hover {
  text-shadow: var(--pbg-comp-sidebar-hover-text-shadow);
  transition: var(--pbg-comp-sidebar-hover-text-transition);
}
aside .sidebar__controls .uv-light-button img {
  width: var(--pbg-comp-sidebar-controls-uv-button-size);
}
aside .sidebar__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: var(--pbg-comp-sidebar-list-item-gap);
}
aside .sidebar__list__item {
  position: relative;
}
aside .sidebar__list__item::after {
  content: "";
  background-color: var(--pbg-comp-sidebar-list-item-underline-color);
  position: absolute;
  top: var(--pbg-comp-sidebar-font-size);
  left: 0;
  height: 2px;
  width: 0;
  transition: var(--pbg-comp-sidebar-list-item-hover-transition);
}
aside .sidebar__list__item:hover::after {
  transition: var(--pbg-comp-sidebar-list-item-hover-transition);
  width: 5rem;
}
aside .sidebar__list__item a {
  color: var(--pbg-comp-sidebar-text-color);
  text-decoration: none;
  font-family: var(--pbg-comp-sidebar-font-family);
  font-size: var(--pbg-comp-sidebar-font-size);
}

@media (max-width: 992px) {
  nav {
    display: none;
  }
  aside {
    display: flex;
  }
}
.hero {
  background: var(--pbg-comp-hero-background);
  position: relative;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 0;
}
.hero__logo {
  display: block;
  width: var(--pbg-comp-logo-width);
}
.hero::after {
  content: "";
  position: absolute;
  width: var(--pbg-comp-grain-width);
  height: var(--pbg-comp-grain-height);
  left: -50%;
  top: -50%;
  background: url(../assets/noise.png);
  opacity: 0.6;
  animation: grain 1.5s steps(6) infinite;
}
.hero h1 {
  font-family: var(--pbg-comp-hero-heading-font-family);
  font-weight: var(--pbg-comp-hero-heading-font-weight);
  font-size: var(--pbg-comp-hero-heading-font-size);
  margin: 0;
  letter-spacing: var(--pbg-comp-hero-heading-letter-spacing);
  text-shadow: var(--pbg-comp-hero-heading-text-shadow);
}
.hero h1 .circle-character {
  vertical-align: middle;
  font-size: var(--pbg-comp-circle-character-size);
}

body.uv-light .hero {
  background: var(--pbg-comp-hero-background-uv);
}

.about {
  background: var(--pbg-comp-about-background);
  padding: var(--pbg-comp-about-container-vertical-padding) var(--pbg-comp-about-container-horizontal-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about * {
  max-width: var(--pbg-comp-about-max-width);
}
.about .intro {
  color: var(--pbg-comp-subtitle-text-color);
  font-size: var(--pbg-comp-intro-font-size);
  line-height: var(--pbg-comp-intro-line-height);
}
.about h1 {
  margin-top: var(--pbg-comp-about-h1-margin-top);
}

body.uv-light .about {
  background: var(--pbg-comp-about-background-uv);
}

@keyframes grain {
  0%, 100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  30% {
    transform: translate(3%, -15%);
  }
  50% {
    transform: translate(12%, 9%);
  }
  70% {
    transform: translate(9%, 4%);
  }
  90% {
    transform: translate(-1%, 7%);
  }
}
.components-wrapper {
  background: var(--pbg-comp-components-wrapper-background);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.components-wrapper .components {
  max-width: var(--pbg-comp-components-max-width);
}
.components-wrapper .components h1 {
  margin: 0;
  padding-left: var(--pbg-comp-components-header-padding);
  padding-top: var(--pbg-comp-components-header-padding);
}
.components-wrapper .components__subtitle {
  display: block;
  padding-left: var(--pbg-comp-components-subtitle-padding);
  color: var(--pbg-comp-subtitle-text-color);
  font-size: var(--pbg-comp-components-subtitle-font-size);
}
.components-wrapper .components__grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--pbg-comp-components-grid-template-size), 1fr));
  gap: var(--pbg-comp-components-grid-gap);
  padding: var(--pbg-comp-components-grid-padding);
}
.components-wrapper .components__grid-item {
  padding: var(--pbg-comp-item-card-component-padding);
  background: var(--pbg-comp-item-card-component-background);
  box-shadow: var(--pbg-comp-item-card-component-box-shadow);
}
.components-wrapper .components__grid-item h2 {
  margin-top: var(--pbg-comp-item-card-component-heading-margin);
}
.components-wrapper .components__grid-item p {
  color: var(--pbg-comp-item-card-component-text-color);
  text-align: justify;
  margin: 0;
}
.components-wrapper .components__grid-item img {
  max-width: 100%;
  transition: var(--pbg-comp-item-card-component-image-transition);
}
.components-wrapper .components__grid-item img:hover {
  transform: scale(1.1);
  transition: var(--pbg-comp-item-card-component-image-transition);
}

body.uv-light .components-wrapper {
  background: var(--pbg-comp-components-wrapper-background-uv);
}

.how-to-play {
  background: var(--pbg-comp-how-to-play-background);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.how-to-play article {
  padding: var(--pbg-comp-how-to-play-article-vertical-padding) var(--pbg-comp-how-to-play-article-horizontal-padding);
  -moz-columns: var(--pbg-comp-how-to-play-article-column-size);
       columns: var(--pbg-comp-how-to-play-article-column-size);
  -moz-column-gap: var(--pbg-comp-how-to-play-article-column-gap-size);
       column-gap: var(--pbg-comp-how-to-play-article-column-gap-size);
  max-width: var(--pbg-comp-how-to-play-article-max-width);
  orphans: 3;
  widows: 3;
}
.how-to-play article__subtitle {
  color: var(--pbg-comp-subtitle-text-color);
}
.how-to-play article h1,
.how-to-play article h2,
.how-to-play article h3 {
  text-wrap: balance;
  -moz-column-break-after: avoid;
       break-after: avoid;
}
.how-to-play article img {
  max-width: var(--pbg-comp-how-to-play-article-image-width);
  float: left;
  margin: 0 var(--pbg-comp-how-to-play-article-image-margin) var(--pbg-comp-how-to-play-article-image-margin) 0;
}
.how-to-play article p {
  text-align: justify;
  text-wrap: pretty;
  margin-block: 0;
}

body.uv-light .how-to-play {
  background: var(--pbg-comp-how-to-play-background-uv);
}

.full-width-image-container {
  width: 100%;
  height: 100dvh;
}

.full-width-image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background: var(--pbg-comp-full-width-image-background);
}

.audio-button {
  position: fixed;
  bottom: var(--pbg-comp-audio-button-position);
  right: var(--pbg-comp-audio-button-position);
  z-index: 1;
  width: min(100%, var(--pbg-comp-audio-button-width));
  height: min(100%, var(--pbg-comp-audio-button-height));
  background: var(--pbg-comp-audio-button-background);
  border: none;
  border-radius: var(--pbg-comp-audio-button-border-radius);
  box-shadow: var(--pbg-comp-audio-button-box-shadow);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--pbg-comp-audio-button-transition);
  padding: var(--pbg-comp-audio-button-padding);
}
.audio-button:hover {
  background: var(--pbg-comp-audio-button-hover-background);
  transition: var(--pbg-comp-audio-button-transition);
}
.audio-button:active {
  background: var(--pbg-comp-audio-button-active-background);
  transition: var(--pbg-comp-audio-button-transition);
}
.audio-button i {
  font-size: var(--pbg-comp-audio-button-icon-size);
  color: var(--pbg-comp-audio-button-icon-color);
}

.deluxe {
  background: var(--pbg-comp-deluxe-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--pbg-comp-deluxe-flexbox-gap);
  padding: var(--pbg-comp-deluxe-padding);
}
.deluxe__cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--pbg-comp-deluxe-cards-gap);
  padding: var(--pbg-comp-deluxe-card-padding);
}
.deluxe__cards__edition-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.deluxe__cards__edition-card__image-container {
  position: relative;
}
.deluxe__cards__edition-card__image-container img {
  width: 100%;
  max-width: var(--pbg-comp-deluxe-image-max-width);
  height: auto;
}
.deluxe__cards__edition-card__image-container__info {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -5px;
  right: -5px;
  width: var(--pbg-comp-deluxe-info-width);
  height: var(--pbg-comp-deluxe-info-height);
  background: var(--pbg-comp-deluxe-info-background);
  color: var(--pbg-comp-deluxe-info-text-color);
  border: 0;
  border-radius: var(--pbg-comp-deluxe-info-border-radius);
  font-family: var(--pbg-comp-deluxe-info-font-family);
  font-size: var(--pbg-comp-deluxe-info-font-size);
  font-weight: var(--pbg-comp-deluxe-info-font-weight);
  line-height: var(--pbg-comp-deluxe-info-line-height);
  text-decoration: none;
  cursor: pointer;
  transition: var(--pbg-comp-deluxe-info-transition);
}
.deluxe__cards__edition-card__image-container__info:hover {
  transition: var(--pbg-comp-deluxe-info-transition);
  box-shadow: var(--pbg-comp-deluxe-info-box-shadow);
}
.deluxe__cards__edition-card h2 {
  margin: var(--pbg-comp-deluxe-h2-margin) 0;
}
.deluxe__cards__edition-card h3 {
  margin: 0;
  margin-bottom: var(--pbg-comp-deluxe-h3-margin);
}
.deluxe__cards__edition-card__button {
  display: inline-block;
  padding: var(--pbg-comp-deluxe-button-vertical-padding) var(--pbg-comp-deluxe-button-horizontal-padding);
  background: var(--pbg-comp-deluxe-button-background);
  color: var(--pbg-comp-deluxe-button-text-color);
  border: 0;
  font-family: var(--pbg-comp-deluxe-button-font-family);
  font-size: var(--pbg-comp-deluxe-button-font-size);
  font-weight: var(--pbg-comp-deluxe-button-font-weight);
  line-height: var(--pbg-comp-deluxe-button-line-height);
  text-decoration: none;
  cursor: pointer;
  transition: var(--pbg-comp-deluxe-button-transition);
}
.deluxe__cards__edition-card__button:hover {
  background-color: var(--pbg-comp-deluxe-button-background-hover);
  color: var(--pbg-comp-deluxe-button-text-color-hover);
  transition: var(--pbg-comp-deluxe-button-transition);
  box-shadow: var(--pbg-comp-deluxe-button-box-shadow);
}
.deluxe__text {
  color: var(--pbg-comp-deluxe-text-color);
  display: none;
}

body.uv-light .deluxe__cards__edition-card__image-container__info {
  background: var(--pbg-comp-deluxe-info-background-uv);
  color: var(--pbg-comp-deluxe-info-text-color-uv);
}
body.uv-light .deluxe__cards__edition-card__button {
  background: var(--pbg-comp-deluxe-button-background-uv);
  color: var(--pbg-comp-deluxe-button-text-color-uv);
}

@media (max-width: 992px) {
  .deluxe__cards {
    flex-direction: column;
    gap: 0;
    padding: 0;
  }
  .deluxe__cards__edition-card {
    max-width: 100%;
    padding: var(--pbg-comp-deluxe-card-padding);
  }
}
footer {
  background: var(--pbg-comp-footer-background);
  padding: var(--pbg-comp-footer-padding);
}
footer .footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .footer__container__logo img {
  width: 100%;
  max-width: var(--pbg-comp-footer-logo-width);
}
footer .footer__container__text {
  color: var(--pbg-comp-footer-text-color);
  line-height: var(--pbg-comp-footer-text-line-height);
  text-align: center;
}
footer .footer__container__text a {
  color: var(--pbg-comp-footer-link-color);
  font-family: var(--pbg-comp-footer-link-font-family);
  font-size: var(--pbg-comp-footer-link-font-size);
  transition: var(--pbg-comp-footer-link-transition);
}
footer .footer__container__text a:hover {
  transition: var(--pbg-comp-footer-link-transition);
  color: var(--pbg-comp-footer-link-hover-color);
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: var(--pbg-ref-default-font-family);
  color: var(--pbg-ref-neutral-color-0);
  scroll-behavior: smooth;
}/*# sourceMappingURL=styles.css.map */